.cache
.ssh
.gnupg
py
.bash_history
.lesshst
.mysql_history
.python_history
.sudo_as_admin_successful
.zsh_history
.bash_history
.sudo_as_admin_successful
.mozilla
.local
Downloads
Desktop
Document
texmf
.texlive2022
.epspdf
gpt_academic
.face
.face.icon
.streamlit
.xsession-errors
.pki
.Xauthority
.vnc/*.log
.vnc/*.pid
.vnc/passwd
.npm/*log*
.npm/*cache*
.npm/*sass*
.npm/*update*
tmp
.ICEauthority
bin/chromedriver
bin/ff
workspace
.vnc/default.tigervnc
.vnc/tigervnc.history
Tool/Clash/cache.db
.node-gyp
Tool/Clash/config.yaml
.dbus
.config/QQ
.config/tencent-qq
.config/htop
.config/cherrytree
.config/sqlitebrowser
.config/Thunar
.config/flameshot
.config/XMind
.config/pulse
.config/wireshark
.config/google-chrome
.config/nvim
.config/nvim.bak
.config/ibus
.config/ibus
.config/microsoft-edge
.config/gtk-3.0
.config/matplotlib
.config/qterminal.org
.config/enchant
.config/evolution
.config/dconf
.config/ytdl-gui
.config/coc
.config/QtProject.conf
.config/qt5ct
.config/gh/hosts.yml
.config/ristretto
.config/xfce4/xfce4-screenshooter
.config/xfce4/desktop
.config/xfce4/**/parole.xml
.config/xfce4/**/xfce4-desktop.xml
.config/xfce4/panel
